numpy<2.0.0
transformers
accelerate
bitsandbytes
openai
cohere
anthropic
ipywidgets
tqdm
huggingface_hub
pandas
datasets
python-dotenv
jupyter
ipykernel
torch<=2.2.2
typer
rich
pydantic
instructor>=1.0.0
openpyxl>=3.1.0
